@import url("https://fonts.google.com/specimen/Archivo+Black?preview.script=Latn&preview.lang=en_Latn");
body {
  font-family: "Archivo Black", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  background-color: darkblue;
  bottom: 0;
  border: 1px solid darkblue;
  box-sizing: border-box;
  min-height: 100px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header {
  gap: 10px;
  width: 100%;
  height: 100px;
  /* background-color: rgb(31, 185, 95); */
  backdrop-filter: blur(10px);
  background-color: rgba(31, 185, 95, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.button_draw {
  width: fit-content;
  padding: 0.45rem 0.6rem;
  border: 2px solid black;
  border-radius: 6px;
  color: black;
  margin-right: 1em;
  user-select: none;
  cursor: pointer;
}
.copyright {
  width: fit-content;
  padding: 0.45rem 0.6rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  margin: 5px;
  user-select: none;
}
.card {
  width: 100px;
  height: 100px;
  border: 2.5px solid black;
  border-radius: 6px;
  margin: 15px;
}
.card img {
  width: 100%;
  height: 75%;
}
.card input {
  border-radius: 6px;
  width: 95px;
  height: 18px;
  border: 0.5px solid black;
  margin: 0;
}
/* .cards {
  width: 407px;
  height: 407px;
  border: 5px solid black;
  flex-wrap: wrap;
  display: flex;
} */
.txt-holder {
  border-radius: 6px;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
}
.txt pre {
  padding: 0.45rem 0.6rem;
  color: black;
  margin: 5px;
  user-select: none;
  font-size: 10rem;
}
