@import url("https://fonts.google.com/specimen/Archivo+Black?preview.script=Latn&preview.lang=en_Latn");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  background: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: scroll;
}

.footer {
  min-height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  border: 1px solid darkblue;
  backdrop-filter: blur(2.5px);
  background-color: rgba(0, 0, 139, 0.5);
  flex-shrink: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* background-color: rgb(31, 185, 95); */
  backdrop-filter: blur(2.5px);
  background-color: rgba(31, 185, 95, 0.5);
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
}
.logo img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.button_draw {
  width: 50px;
  height: 50px;
  padding: 0.45rem 0.6rem;
  border: 2px solid black;
  border-radius: 6px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 222, 222);
  margin-right: 1em;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
.copyright {
  width: fit-content;
  padding: 0.45rem 0.6rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  margin: 5px;
  user-select: none;
}
.card {
  width: 100px;
  height: 100px;
  border: 2.5px solid black;
  border-radius: 6px;
  margin: 15px;
  background-color: #F6F6F6;
}
.card img {
  width: 100%;
  height: 75%;
}
.card input {
  border-radius: 6px;
  width: 95px;
  height: 18px;
  border: 0.5px solid black;
  margin: 0;
}
.cards {
  width: 407px;
  height: 407px;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.txt-holder {
  border-radius: 6px;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
}
.txt pre {
  padding: 0.45rem 0.6rem;
  color: black;
  margin: 5px;
  user-select: none;
  font-size: 10rem;
  overflow-wrap: break-word;
  word-break: break-all;
}
.img_intro {
  width: 110px;
  height: 60px;
  border: 2.5px solid black;
  border-radius: 6px;
}
.txt-holder img {
  display: flex;
} 

